{% extends 'website/base.html.twig' %}

{% block title %}Neobodies{% endblock %}

{% block body %}
    <div class="homepage-header-image" style="background-image: url('{% if blocks.1.image %}{{ asset('uploads/' ~ blocks.1.image) }}{% else %}{{ asset('img/top1.jpg') }}{% endif %}')">
        <div class="text-position">
            <div class="image-opacity-bar">
                <h1>{{ blocks.1.title }}</h1>
                <h2>{{ blocks.1.subtitle }}</h2>
            </div>
        </div>
    </div>

    <div class="usps">
        <div class="why">
            <h2>{{ blocks.2.title }}</h2>
        </div>
        <div class="usp-list">
            <div class="usp">
                <div class="image"><img src="{{ asset('uploads/' ~ blocks.3.image) }}"></div>
                <div class="text">
                    <h3>{{ blocks.3.title }}</h3>
                    <p>{{ blocks.3.subtitle }} </p>
                </div>
            </div>
            <div class="usp">
                <div class="image"><img src="{{ asset('uploads/' ~ blocks.4.image) }}"></div>
                <div class="text">
                    <h3>{{ blocks.4.title }}</h3>
                    <p>{{ blocks.4.subtitle }} </p>
                </div>
            </div>
            <div class="clear usp-mid-split">&nbsp;</div>
            <div class="usp">
                <div class="image"><img src="{{ asset('uploads/' ~ blocks.5.image) }}"></div>
                <div class="text">
                    <h3>{{ blocks.5.title }}</h3>
                    <p>{{ blocks.5.subtitle }} </p>
                </div>
            </div>
            <div class="usp">
                <div class="image"><img src="{{ asset('uploads/' ~ blocks.6.image) }}"> </div>
                <div class="text">
                    <h3>{{ blocks.6.title }}</h3>
                    <p>{{ blocks.6.subtitle }} </p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    {% if pages %}
        <div class="homepage-pages">
            <ul class="pages">
                {% for page in pages %}
                    <li>
                        <div class="image" style="background-image: url('{{ asset('uploads/' ~ page.slideImage) }}')">
                            <div class="image-text">
                                <div class="image-opacity-bar">
                                    <h2>{{ page.slideTitle }}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="content-position">
                                <div class="align-left">
                                    {{ page.slideText|raw }}
                                    <a href="{{ getLocalizedRoute('page_view', {slug: page.slug}) }}" class="button-large">{{ page.buttonText }}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="clear"></div>
        </div>
    {% endif %}

{% endblock %}
