<div class="usps page-usps">
    <div class="usp-list">
        <div class="usp">
            <div class="image"><img src="{{ asset('uploads/' ~ blocks.11.image) }}"></div>
            <div class="text">
                <h3>{{ blocks.11.title }}</h3>
                <p>{{ blocks.11.subtitle }} </p>
            </div>
        </div>
        <div class="usp">
            <div class="image"><img src="{{ asset('uploads/' ~ blocks.12.image) }}"></div>
            <div class="text">
                <h3>{{ blocks.12.title }}</h3>
                <p>{{ blocks.12.subtitle }} </p>
            </div>
        </div>
        <div class="usp">
            <div class="image"><img src="{{ asset('uploads/' ~ blocks.13.image) }}"></div>
            <div class="text">
                <h3>{{ blocks.13.title }}</h3>
                <p>{{ blocks.13.subtitle }} </p>
            </div>
        </div>
        <div class="usp">
            <div class="image"><img src="{{ asset('uploads/' ~ blocks.14.image) }}"></div>
            <div class="text">
                <h3>{{ blocks.14.title }}</h3>
                <p>{{ blocks.14.subtitle }} </p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
