<div class="usps page-usps">
    <div class="usp-list">
        <div class="usp">
            <div class="image"><img src="{{ asset('uploads/' ~ blocks.7.image) }}"></div>
            <div class="text">
                <h3>{{ blocks.7.title }}</h3>
                <p>{{ blocks.7.subtitle }} </p>
            </div>
        </div>
        <div class="usp">
            <div class="image"><img src="{{ asset('uploads/' ~ blocks.8.image) }}"></div>
            <div class="text">
                <h3>{{ blocks.8.title }}</h3>
                <p>{{ blocks.8.subtitle }} </p>
            </div>
        </div>
        <div class="usp">
            <div class="image"><img src="{{ asset('uploads/' ~ blocks.9.image) }}"></div>
            <div class="text">
                <h3>{{ blocks.9.title }}</h3>
                <p>{{ blocks.9.subtitle }} </p>
            </div>
        </div>
        <div class="usp">
            <div class="image"><img src="{{ asset('uploads/' ~ blocks.10.image) }}"></div>
            <div class="text">
                <h3>{{ blocks.10.title }}</h3>
                <p>{{ blocks.10.subtitle }} </p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
