<div class="items">
    {% for partner in partners %}
        <div class="item-block">
            <div class="left">
                <a href="{{ partner.link }}"{% if partner.newTab %} target="_blank"{% endif %}>
                    <img class="item-image" src="{{ asset('uploads/' ~ partner.image) }}">
                </a>
            </div>
            <div class="right">
                <div class="item-text-position">
                    <a href="{{ partner.link }}"{% if partner.newTab %} target="_blank"{% endif %}><h2>{{ partner.name }}</h2></a>
                    <div class="item-text">{{ partner.content|raw }}</div>
                </div>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    {% endfor %}
</div>
